body {
	font-family: roboto;
	background: #00d2ff;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
	background-color: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: normal;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
	z-index: 1;
}

input {
	font-size: 18px;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: none;
	margin: none;
	color: #2980b9;
	display: none;
	animation: fadeIn 0.8s ease-in;
	z-index: 2;
}

input:focus {
	background-color: white;
	outline: none; /*from the browsers*/
}

.toggle-input {
	font-size: 18px;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: none;
	margin: none;
	color: #2980b9;
	display: block;
	z-index: 2;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: black;
	opacity: 0.3;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: black;
	opacity: 0.3;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: black;
	opacity: 0.3;
}

ul { 
	list-style: none; /*deleting bullet points*/
	margin: 0;
	padding: 0;
}

li {
	display: flex;
	background-color: white;
	height: 40px;
	line-height: 40px;
	color: #666;
}

li:nth-child(2n) {
	background-color: #f7f7f7;
}

span {
	position: relative;
	background-color: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: all 500ms linear;
	opacity: 0;
}

li:hover span {
	width: 40px;
	opacity: 1;
}

#container {
	width: 360px;
	margin: 100px auto;
	background-color: transparent;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.completed {
	color: gray;
	text-decoration: line-through;
}

.fa-plus {
	float: right;
	margin-top: 2px;
	-moz-animation: pulse 2s infinite linear;
	-o-animation: pulse 2s infinite linear;
	-webkit-animation: pulse 2s infinite linear;
	animation: pulse 2s infinite linear;
}

.fa-plus:hover {
	-moz-animation: none;
	-o-animation: none;
	-webkit-animation: none;
	animation: none;
}

.fa-plus-stop-pulsing {
	animation: none;
}

.fa-trash-alt {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
}

.fa-trash-alt:before {
	position: absolute;
	left: 13px;
	top: 12px;
}

@-webkit-keyframes pulse {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes pulse {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes pulse {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}

@-ms-keyframes pulse {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}

@keyframes pulse {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
