body {
	font-family: roboto;
	background: #00d2ff;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {
	width: 360px;
	margin: 20px auto;
	background-color: transparent;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.header {
	margin-top: 50px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: flex;
	color: white;
}

.fa-clipboard-list {
	color: white;
	opacity: 0.9;
	text-shadow: 0 1px 0 #ccc,
		0 2px 0 #c9c9c9,
		0 3px 0 #bbb,
		0 4px 0 #b9b9b9,
		0 5px 0 #aaa,
		0 6px 1px rgba(0, 0, 0, .1),
		0 0 5px rgba(0, 0, 0, .1),
		0 1px 3px rgba(0, 0, 0, .3),
		0 3px 5px rgba(0, 0, 0, .2),
		0 5px 10px rgba(0, 0, 0, .25),
		0 10px 10px rgba(0, 0, 0, .2),
		0 20px 20px rgba(0, 0, 0, .15);
}

.headerTitle,
.headerDescription {
	margin-bottom: 5px;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

h1 {
	background-color: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: normal;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

input {
	font-size: 18px;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: none;
	margin: none;
	color: #2980b9;
	display: none;
	animation: fadeIn 0.8s ease-in-out;
}

input:focus {
	background-color: white;
	outline: none; /*from the browsers*/
}

.toggle-input {
	font-size: 18px;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: none;
	margin: none;
	color: #2980b9;
	display: block;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: black;
	opacity: 0.3;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: black;
	opacity: 0.3;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: black;
	opacity: 0.3;
}

.fa-plus {
	float: right;
	margin-top: 2px;
	-moz-animation: pulse 2s infinite linear;
	-o-animation: pulse 2s infinite linear;
	-webkit-animation: pulse 2s infinite linear;
	animation: pulse 2s infinite linear;
}

.fa-plus:hover {
	-moz-animation: none;
	-o-animation: none;
	-webkit-animation: none;
	animation: none;
}

.fa-plus-stop-pulsing {
	animation: none;
}

ul { 
	list-style: none; /*deleting bullet points*/
	margin: 0;
	padding: 0;
}

li {
	display: flex;
	background-color: white;
	height: 40px;
	line-height: 40px;
	color: #666;
}

li:nth-child(2n) {
	background-color: #f7f7f7;
}

.deleting {
	position: relative;
	background-color: #e74c3c;
	height: 40px;
	margin-right: 15px;
	color: white;
	width: 0;
	transition: all 500ms linear;
	opacity: 0;
}

.delete {
	background-color: #e74c3c;
	height: 40px;
	margin-right: 20px;
	color: white;
	width: 0;
	transition: all 500ms linear;
	opacity: 0;
}

li:hover .deleting {
	width: 40px;
	opacity: 1;
}

li:hover .delete {
	width: 40px;
	opacity: 1;
}

.fa-trash-alt:before {
	position: absolute;
	left: 13px;
	top: 12px;
}

.checking {
	position: relative;
	height: 100%;
	margin-left: auto;
}

.fa-check-circle {
	position: relative;
	float: right;
	right: 10px;
	top: 12px;
	background-color: transparent;
	height: 16px;
	color: rgba(0, 0, 0, .3);
	width: 16px;
}

.completed {
	color: gray;
	text-decoration: line-through;
}

.checked {
	color: green;
	font-weight: bold;
}

.fade-out {
	opacity: 0.3;
	transition: opacity 0.8s ease-in;
}

@-webkit-keyframes pulse {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes pulse {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes pulse {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}

@-ms-keyframes pulse {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}

@keyframes pulse {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

/* Scrollbar */
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
	background-color: #0ae;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, 
			color-stop(.5, rgba(255, 255, 255, .2)),
			color-stop(.5, transparent), to(transparent));
}
